<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta description="Transform your vehicle with our professional car detailing services in Nairobi. From ceramic coating to tinting and buffing, we have everything you need to make your car shine like new. Contact us today!">
  <meta name="theme-color" content="#1B8CB7" />
  <title>Home</title>

  <!--google fonts link-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Tac+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

  <!--Boostrap css link-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!--font awesome cdn link-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

  <!--Swiper css link-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

  <!--Favicon link-->
  <link rel="icon" href="/favicon_io/favicon_1.ico"/>
  
  <!--Custom css link-->
  <link rel="stylesheet" href="/css/styles.min.css">
</head>

<body>

    <!--Preloader starts here-->
    <div id="preloader"></div>
    <!--Pleloader ends here-->

    <!--header section start-->
    <section class="header">

          <span class="logo">Detailers</span>

          <nav class="navbar">
              <a href="/" class="logo">home</a>
              <a href="/about" class="logo">about us</a>
              <a href="/packages" class="logo">packages</a>
              <a href="/book" class="logo">book</a>
              <a href="/blog" class="logo">blog</a>
          </nav>

          <div id="menu-btn" class="fas fa-bars"></div>

    </section>
    <!--header section ends-->

