<%- include("partials/header"); -%>

<div class="heading" style="background: url(images/d.png) no-repeat">

    <h1>about Us</h1>

</div>

<!--about section starts-->
    <section class="about">

        <div class="content">
            <h3>why choose us</h3>
            <p>Client oriented services</p>
            <div class="icons-container">
                <div class="icons">
                    <i class="fas fa-map"></i>
                    <span>top class services</span>
                </div>
                <div class="icons">
                    <i class="fas fa-hand-holding-usd"></i>
                    <span>affordable price</span>
                </div>
                <div class="icons">
                    <i class="fas fa-headset"></i>
                    <span>24/7 customer services</span>
                </div>
            </div>
        </div>
    </section>
<!--about section ends-->

        <!--review section starts-->
        <section class="reviews">
                
            <div class="swiper reviewsSlider">

                <div class="swiper-wrapper">

                    <div class="swiper-slide slide">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>"Exceptional service from start to finish! 
                           The team at Supreme Detailers transformed my car into a showroom-worthy
                           masterpiece. They paid attention to every detail, leaving no corner 
                           untouched. From the gleaming exterior to the spotless interior, 
                           I couldn't be happier with the results. Highly recommend!"
                        </p>
                        <h3>Peter Mwangi</h3>
                    </div>

                    <div class="swiper-slide slide">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>"Absolutely blown away by the professionalism and expertise of 
                            Detailers. My car looks better than the day I drove it off 
                            the lot! The staff was courteous, knowledgeable, and went above and 
                            beyond to ensure a flawless finish. If you want your vehicle to shine,
                            this is the place to go!"
                        </p>
                        <h3>Mike Ojwang</h3>
                    </div>

                    <div class="swiper-slide slide">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>"What a fantastic experience! Detailers took my dusty, 
                            dull car and transformed it into a head-turner. The attention to 
                            detail was impeccable, and the results speak for themselves. The 
                            team's passion for their work truly shines through. I'll definitely 
                            be returning for all my car detailing needs."
                        </p>
                        <h3>Ruth-Ann</h3>
                    </div>

                    <div class="swiper-slide slide">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>"I can't praise Detailers enough! Their dedication to 
                            perfection is unmatched. From the moment I arrived, I felt confident
                            that my car was in good hands. Not only did they exceed my expectations,
                            but they also provided valuable tips for maintaining that showroom shine.
                            A top-notch service all around!
                        </p>
                        <h3>Olive Burrows</h3>
                    </div>

                    <div class="swiper-slide slide">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>"Incredible results and outstanding service! Detailers
                            worked wonders on my car, restoring its luster and leaving it looking
                            better than ever. The staff's professionalism and attention to detail 
                            were second to none. I left feeling like I was driving a brand-new 
                            vehicle. Highly recommend this company to anyone seeking quality car 
                            detailing."
                        </p>
                        <h3>James Wanyonyi</h3>
                    </div>

                </div>

            </div>

        </section>
    <!--review section ends-->

<%- include("partials/footer"); -%>
