
<%- include("partials/header"); -%>

        <!--blog section starts-->

        <section id="blog">

            <div class="blog-heading">
                <h1>ON THE BLOG</h1>
            </div>

            <div class="blog-container">

                <div class="blog-box">

                    <div class="blog-img">
                        <img src="images/z.jpg" alt="">
                    </div>

                    <div class="blog-text">
                        <a href="/posts/66215885da53db37393399f9" class="blog-title">How to get rid off tough stains from your car seats?</a>
                        <p>In sodales sapien eros, ac tempus augue accumsan cursus. Cras magna quam, commodo vitae tempor sit amet, semper tempus augue accumsan cursus</p>
                        <a href="/posts/66215885da53db37393399f9">Read More</a>
                    </div>

                </div>

                <div class="blog-box">

                    <div class="blog-img">
                        <img src="images/x.jpg" alt="">
                    </div>
    
                    <div class="blog-text">
                        <a href="/posts/66464d31f92949a755e70ee3" class="blog-title">Used Car of The day. Everything you need to know.</a>
                        <p>In sodales sapien eros, ac tempus augue accumsan cursus. Cras magna quam, commodo vitae tempor sit amet, semper tempus augue accumsan cursus</p>
                        <a href="/posts/66464d31f92949a755e70ee3">Read More</a>
                    </div>

                </div>

                <div class="blog-box">

                    <div class="blog-img">
                        <img src="images/v.jpg" alt="">
                    </div>
        
                    <div class="blog-text">
                        <a href="/posts/66464d7ef92949a755e70ee5" class="blog-title">Petrol or Diesel, which one should you buy?</a>
                        <p>In sodales sapien eros, ac tempus augue accumsan cursus. Cras magna quam, commodo vitae tempor sit amet, semper tempus augue accumsan cursus</p>
                        <a href="/posts/66464d7ef92949a755e70ee5">Read More</a>
                    </div>

                </div>

            </div>
           
        </section>
<!--blog section ends-->

<!--footer section starts-->
<footer class="form-footer">
    <div class="form-signin">
        
        <form action="/sign-up" method="post">
        
        <h1 class="h3 mb-3 fw-normal">Newsletter Signup</h1>
    
        <input type="text" name="first" class="form-control top" placeholder="First name" required autofocus>
        <input type="text" name="second" class="form-control midddle" placeholder="Last Name" required>
        <input type="email" name="email" class="form-control bottom" placeholder="email" required>
    
        <button class="w-100 btn btn-lg btn-primary" type="submit">Signup</button>
        
        </form>
    </div>
</footer>
<!--footer section ends-->

<!--Boostrap js link-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!--Swiper js script-->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!--Custom js script-->
<script src="/js/main.js"></script>

</body>
</html>
