
<%- include("partials/header"); -%>

<!--home section starts-->
  <section class="home">

    <div class="swiper homeSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide" style="background: url(images/b.jpg) no-repeat;">
          <div class="content">
            <h3>Car detailers and ceramic coating</h3>
            <span>Nano ceramic coating</span>
          </div>
        </div>
        <div class="swiper-slide slide" style="background: url(images/d.png) no-repeat;">
          <div class="content">
            <h3>Revitalize your ride with the ultimate in car detailing and ceramic coating excellence</h3>
            <span>Nairobi Detailers</span>
          </div>
        </div>
        <div class="swiper-slide slide" style="background: url(images/n.jpg) no-repeat;">
          <div class="content">
            <h3>Drive with unmatched shine and ceramic protection</h3>
            <span>Call - 0702 706 658</span>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

  </section>
<!--home section ends-->

<!--home-service section starts-->
  <section class="services">

    <h1 class="heading-title">Our Services</h1>

    <div class="gallery">
      <img src="images/d.png" alt="car after applying..." width="600" height="400">
      <div class="desc">In sodales sapien eros, ac tempus augue accumsan cursus. Cras magna quam, commodo vitae tempor sit amet, semper eu orci. Pellentesque dui dolor, gravida a vestibulum sed, ornare sit amet nunc. Quisque ullamcorper, est ut vulputate vulputate, justo ante aliquet ipsum, nec finibus turpis mi sed massa. Nullam tempus arcu nec bibendum elementum. Morbi a dapibus ipsum. Praesent ut molestie elit, ac aliquet tellus. Aenean dignissim faucibus imperdiet. Nullam tellus elit, auctor vel tempus in, pretium ac est. Sed viverra consequat arcu. Pellentesque leo eros, tempor at lacus in, sagittis fermentum nulla. Nunc sed sodales sem, eu molestie velit. Pellentesque scelerisque ac urna vitae bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</div>
    </div>

    <div class="gallery">
      <img src="images/h.jpg" alt="car after applying..." width="600" height="400">
      <div class="desc">In sodales sapien eros, ac tempus augue accumsan cursus. Cras magna quam, commodo vitae tempor sit amet, semper eu orci. Pellentesque dui dolor, gravida a vestibulum sed, ornare sit amet nunc. Quisque ullamcorper, est ut vulputate vulputate, justo ante aliquet ipsum, nec finibus turpis mi sed massa. Nullam tempus arcu nec bibendum elementum. Morbi a dapibus ipsum. Praesent ut molestie elit, ac aliquet tellus. Aenean dignissim faucibus imperdiet. Nullam tellus elit, auctor vel tempus in, pretium ac est. Sed viverra consequat arcu. Pellentesque leo eros, tempor at lacus in, sagittis fermentum nulla. Nunc sed sodales sem, eu molestie velit. Pellentesque scelerisque ac urna vitae bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</div>
    </div>

    <div class="gallery">                   
      <img src="images/e.jpg" alt="before and after..." width="600" height="400">
      <div class="desc">In sodales sapien eros, ac tempus augue accumsan cursus. Cras magna quam, commodo vitae tempor sit amet, semper eu orci. Pellentesque dui dolor, gravida a vestibulum sed, ornare sit amet nunc. Quisque ullamcorper, est ut vulputate vulputate, justo ante aliquet ipsum, nec finibus turpis mi sed massa. Nullam tempus arcu nec bibendum elementum. Morbi a dapibus ipsum. Praesent ut molestie elit, ac aliquet tellus. Aenean dignissim faucibus imperdiet. Nullam tellus elit, auctor vel tempus in, pretium ac est. Sed viverra consequat arcu. Pellentesque leo eros, tempor at lacus in, sagittis fermentum nulla. Nunc sed sodales sem, eu molestie velit. Pellentesque scelerisque ac urna vitae bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</div>
    </div>

    <div class="gallery">
      <img src="images/j.jpg" alt="car with lights film" width="600" height="400">
      <div class="desc">In sodales sapien eros, ac tempus augue accumsan cursus. Cras magna quam, commodo vitae tempor sit amet, semper eu orci. Pellentesque dui dolor, gravida a vestibulum sed, ornare sit amet nunc. Quisque ullamcorper, est ut vulputate vulputate, justo ante aliquet ipsum, nec finibus turpis mi sed massa. Nullam tempus arcu nec bibendum elementum. Morbi a dapibus ipsum. Praesent ut molestie elit, ac aliquet tellus. Aenean dignissim faucibus imperdiet. Nullam tellus elit, auctor vel tempus in, pretium ac est. Sed viverra consequat arcu. Pellentesque leo eros, tempor at lacus in, sagittis fermentum nulla. Nunc sed sodales sem, eu molestie velit. Pellentesque scelerisque ac urna vitae bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</div>
    </div>

  </section>
<!--home-service section ends--> 

<!--home-about section starts-->
  <section class="home-about">
          
    <div class="content">
      <h3 class="heading-title">about us</h3>
      <p>In sodales sapien eros, ac tempus augue accumsan cursus. Cras magna quam, commodo vitae tempor sit amet, semper eu orci. Pellentesque dui dolor, gravida a vestibulum sed, ornare sit amet nunc. Quisque ullamcorper, est ut vulputate vulputate, justo ante aliquet ipsum, nec finibus turpis mi sed massa. Nullam tempus arcu nec bibendum elementum. Morbi a dapibus ipsum. Praesent ut molestie elit, ac aliquet tellus. Aenean dignissim faucibus imperdiet. Nullam tellus elit, auctor vel tempus in, pretium ac est. Sed viverra consequat arcu. Pellentesque leo eros, tempor at lacus in, sagittis fermentum nulla. Nunc sed sodales sem, eu molestie velit. Pellentesque scelerisque ac urna vitae bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae</p>
      <a href="/about" class="btn">Read more</a>
    </div>

  </section>
<!--home-about section ends-->

<!--home-packages section starts-->
  <section class="home-packages">

    <h1 class="heading-title">our packages</h1>

    <div class="box-container">

      <div class="box">

        <div class="image">
          <img src="images/n.jpg" alt="a car">
        </div>

        <div class="content">
          <h3 >Ceramic</h3>
          <a href="/book" class="btn">book now</a>
        </div>

      </div>

      <div class="box">

        <div class="image">
          <img src="images/g.png" alt="a car">
        </div>

        <div class="content">
          <h3>Buffing</h3>
          <a href="/book" class="btn">book now</a>
        </div>

      </div>

      <div class="box">

        <div class="image">
          <img src="images/f.jpg" alt="a car">
        </div>

        <div class="content">
          <h3>Tinting and headlight film</h3>
          <a href="/book" class="btn">book now</a>
        </div>

      </div>

    </div>
    <div class="load-more"><a href="/packages" class="btn">load more</a></div>
  </section>
<!--home-packages section ends-->

<%- include("partials/footer"); -%>
