<%- include("partials/header"); -%>

<div class="heading" style="background: url(images/m.jpg) no-repeat">

    <h1>Packages</h1>

</div>

<!--package section starts-->
    <section class="packages">

        <h1 class="heading-title">our packages</h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="images/k.png" alt="a car">
                </div>
                <div class="content">
                    <h3 class="adventure">Ceramic.</h3>
                    <a href="/book" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/f.jpg" alt="a car">
                </div>
                <div class="content">
                    <h3 class="adventure">Buffing only</h3>
                    <a href="/book" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/footer.jpg" alt="a car">
                </div>
                <div class="content">
                    <h3 class="adventure">Buffing and Rim cleaning</h3>
                    <a href="/book" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/a.png" alt="a car">
                </div>
                <div class="content">
                    <h3 class="adventure">Chameleon Tint</h3>
                    <a href="/book" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/r.png" alt="a car">
                </div>
                <div class="content">
                    <h3 class="adventure">Headlights film.</h3>
                    <a href="/book" class="btn">book now</a>
                </div>
            </div>

        </div>

    </section>
<!--package section ends-->


<%- include("partials/footer"); -%>
