<%- include("partials/header"); -%>

<!--blog section starts-->

<section id="blog">

  <div class="blog-heading">
      <h1>ON THE BLOG</h1>
  </div>

  <div class="blog-container">

    <div class="blog-box-post">

      <h1><%= title %></h1>

      <p><%= content %></p>

    </div>

  </div>
       
</section>
<!--blog section ends-->

<!--footer section starts-->
<footer class="form-footer">
  <div class="form-signin">
      
      <form action="/sign-up" method="post">
      
      <h1 class="h3 mb-3 fw-normal">Newsletter Signup</h1>
  
      <input type="text" name="first" class="form-control top" placeholder="First name" required autofocus>
      <input type="text" name="second" class="form-control midddle" placeholder="Last Name" required>
      <input type="email" name="email" class="form-control bottom" placeholder="email" required>
  
      <button class="w-100 btn btn-lg btn-primary" type="submit">Signup</button>
      
      </form>
  </div>
</footer>
<!--footer section ends-->

<!--Boostrap js link-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!--Swiper js script-->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!--Custom js script-->
<script src="/js/main.js"></script>
    
</body>
</html>
